<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trello</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="bg-gray-100">
    <header class="bg-white shadow">
        <div class="container mx-auto p-4 flex justify-center items-center">
            <nav class="space-x-4">
                <a href="{% url 'lista_tarefa' %}">Lista de Tarefas</a>
                <a href="{% url 'criar_tarefa' %}">Cadastrar Tarefas</a>
                <form action="{% url 'logout' %}" method="POST" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white font-bold py-2 px-4 rounded">Logout</button>
                </form>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>
