{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Tarefas</h1>
    <div class="bg-white shadow-md rounded-lg p-6">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Título</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descrição</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Data de Criação</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Data de Vencimento</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Usuário</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ações</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for tarefa in Tarefas %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ tarefa.titulo }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tarefa.descricao|default:"Nenhuma descrição" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tarefa.data_criacao|date:"d/m/Y H:i" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tarefa.data_vencimento|date:"d/m/Y H:i" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tarefa.status }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ tarefa.usuario.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <div class="flex space-x-4">
                            <!-- Edit Button -->
                            <a href="{% url 'atualizar_tarefa' tarefa.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Editar
                            </a>

                            <!-- Delete Button -->
                            <a href="{% url 'deletar_tarefa' tarefa.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                Excluir
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}